# Secrets
.env
*.env
!.env.example

# Runtime data & configs
**/config/
**/data/
stacks/downloads/gluetun/
stacks/downloads/deluge/
stacks/downloads/qbittorrent/

# Misc
*.db
*.key
*.pem
*.bak
.DS_Store
stacks/homepage/services.yaml
scripts/pia-port-sync.sh
scripts/*.log
scripts/backup.sh
stacks/filebrowser/data/
