- Infrastructure:
    - Homepage:
        icon: mdi-view-dashboard-#38bdf8
        href: http://dashboard.local/
        description: Dashboard
    - Portainer:
        icon: portainer.svg
        href: http://portainer.local/
        description: Docker Management
    - Nginx Proxy Manager:
        icon: nginx-proxy-manager.svg
        href: http://npm.local/
        description: Domains & Proxy Management
    - AdGuard Home:
        icon: adguard-home.svg
        href: http://adguard.local/
        description: Network Ad-Blocker
        widget:
          type: adguard
          url: http://192.168.0.45:8080
          username: CHANGEME
          password: CHANGEME

- Downloads:
    - Deluge:
        icon: deluge.svg
        href: http://deluge.local/
        description: Torrent Client (VPN)
        widget:
          type: deluge
          url: http://192.168.0.45:8112
          password: CHANGEME
    - Gluetun:
        icon: gluetun.svg
        href: http://192.168.0.45:8001
        description: VPN Gateway
        widget:
          type: gluetun
          url: http://192.168.0.45:8001

- Media:
    - Plex:
        icon: plex.svg
        href: http://plex.local/
        description: Media Server
        widget:
          type: plex
          url: http://192.168.0.45:32400
          key: CHANGEME
    - Bazarr:
        icon: bazarr.svg
        href: http://192.168.0.45:6767
        description: Subtitles
